<%= form_with(model: team) do |form| %>

    <div class="field">
      <%= form.label :game, 'Gioco' %>
      <%= form.select :game, options_for_select(['League of Legends', 'Valorant'], 'League of Legends') %>
      <br>
    </div>

    <div class="field">
      <%= form.label :mode, 'Per quale modalità' %>
      <%= form.select :mode, options_for_select(['Normal', 'Ranked', 'Aram', 'Flex']) %>
      <br>
    </div>

    <div class="field">
      <%= form.label :lanes, 'Ruoli richiesti' %>
    <br>
    <div id="lanes">
    <% lanes = %w[Top Jungle Mid Adc Support] %>
    <% lanes.each do |lane| %>
        <%= form.check_box :lanes, { multiple: true }, lane, lane=='Tutti'%>
        <%= form.label lane.downcase, lane %><br>
    <% end %>
  </div>
    </div>

    <div class="field">
      <%= form.label :minRank, 'Rank minimo' %>
      <%= form.select :minRank, options_for_select(['Nessuno', 'Argento', 'Oro', 'Platino', 'Smeraldo', 'Diamante', 'Master', 'Grandmaster', 'Challenger'], 'Nessuno') %>
  
    </div>

    <div class="field">
      <%= form.hidden_field :user_id, value: current_user.id %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>

<% end %>