<%= stylesheet_link_tag "annunci", "data-turbo-track": "reload" %>


<div class="team-creation-container">

  <h1 class="mb-3" style="color:white">CREAZIONE TEAM</h1>

    <%= form_with(model: @team, url: teams_new_path, class:"team-creation-form") do |form| %>

        <div class="field d-flex flex-column">
          <%= form.label :mode, 'Modalità' %>
          <%= form.select :mode, options_for_select(['Normal', 'Ranked', 'Flex']) %>
          <br>
        </div>

        <div class="field mt-3">
          <%= form.label :minRank, 'Rank minimo' %>
          <%= form.select :minRank, options_for_select(['Iron', 'Bronze', 'Silver', 'Gold', 'Platinum', 'Emerald', 'Diamond', 'Master', 'Grandmaster', 'Challenger']) %>
        </div>
        <!--LEADER-->
        <div class="field mt-3">
          <%= form.label :leader_lane, 'Il tuo ruolo' %>
          <br>
          <div id="leader_lane">
            <% lanes = Forum::LANES %>
            <% lanes.each do |lane| %>
              <label>
              <%= radio_button(:team, :leader_lane, lane, id: "lane_#{lane}", class: "hidden", required: 'required', checked: false) %>
                <%= image_tag "/assets/positions/"+lane+".png", class: 'leader-lane', data: { lane: lane } %>
              </label>
            <% end %>
          </div>
        </div>
        <!--RUOLI RICHIESTI-->
        <div class="field mt-3">
          <%= form.label :lanes, 'Ruoli richiesti' %>
          <br>
          <div id="lanes">
            <% lanes.each do |lane| %>
              <label>
                <%= check_box_tag 'team[selected_lanes][]', lane, checked: false, class: 'lane-checkbox' %>
                <%= image_tag "/assets/positions/#{lane}.png", class: 'lanes-checkbox', data: { lane: lane } %>
              </label>
            <% end %>
          </div>
        </div>

        <div class="mt-4">
          <button type="submit" class="btn btn-light"> Pubblica </button>
        </div>
    <% end %>

</div>


<script>
  $(document).ready(function() {


    $('.leader-lane').on('click', function() {
      $('.leader-lane').removeClass('leader-selected-lane');
      
      $(this).addClass('leader-selected-lane');

      var lane = $(this).data('lane');
      $('#lane_'+lane).checked = true;
    });
    //----------------------------------------
    /* $('.lanes-checkbox').on('click', function() {
      $(this).toggleClass('selected-lane');

      var checkboxId = $(this).prev('.lane-checkbox').attr('id');
      
      $('#' + checkboxId).prop('checked', function(_, checked) {
        return !checked;
      });
    }); */

    $('.lanes-checkbox').on('click',function(){
      var checkboxId = $(this).prev('.lane-checkbox').attr('id');
      $(this).toggleClass('selected-lane');
      if($(this).is(':checked')) {
        $('#' + checkboxId).checked = true;
      }
      else {
        $('#' + checkboxId).checked = false;
      }
    })

      
  });

</script>

 <style>
    .hidden {
      display:none;
    }
  </style>
