<%= @team.mode %>

<br>

<% Forum::LANES.each do |lane| %>
    
    <% if not @team.lanes.include?(lane) %>

        <% player = nil %>
        <% @lane_class = "lane_non_disponibile" %>
    <% elsif @team.comp[lane].nil? %>

        <% player = nil %>
        <% @lane_class = "lane_disponibile" %>
    <% else %>

        <% player = User.find(@team.comp[lane]).username %>
        <% @lane_class = "lane_occupata" %>
    <% end %>

    <%= image_tag("positions/" + lane + ".png", class: @lane_class) %>
    <%= player %>

    <br>
<% end %>

<%= button_to "Torna Indietro", root_path, method: :get, class: "btn btn-light" %>
<br>
<% if @team.leader_id == current_user.id%>
    <%= button_to "Smantella Team", teams_path, method: :delete, class: "btn btn-warning" %>
<% else %>
    <%= form_with url: team_path(@team.id), method: :patch do |f|%>
        <%= f.hidden_field :team_id , value: @team.id%>
        <%= f.hidden_field :user_id, value: nil %>
        <% @team.comp.key(current_user.id) => position %>
        <%= f.hidden_field :position, value: position %>
        <button type= "Submit" class= "btn btn-warning">Esci dal Team</button>
    <% end %>
<% end %>