<h1>Team</h1>

<%= @team.mode %>
<br>
<%= @team.leader_id %>
<br>
<%= @team.lanes %>
<br>
<%= @team.comp %>
<br>

<%= button_to "Torna Indietro", root_path, method: :get, class: "btn btn-light" %>
<%= button_to "Smantella Team", teams_path, method: :delete, class: "btn btn-warning" %>