<div id="<%= dom_id ad %>">
  <p>
    <strong>Game:</strong>
    <%= ad.game %>
  </p>

  <p>
    <strong>mode:</strong>
    <%= ad.mode %>
  </p>

  <p>
    <strong>rank minimo:</strong>
    <%= ad.minRank %>
  </p>

  <p>
    <strong>user_id:</strong>
    <%= ad.user_id %>
  </p>

  <p>
    <strong>lanes:</strong>
    <%= ad.lanes %>
  </p>

</div>
