<%= form_with(model: ad) do |form| %>
  <% if ad.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(ad.errors.count, "error") %> prohibited this ad from being saved:</h2>

      <ul>
        <% ad.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :game, style: "display: block" %>
    <%= form.text_field :game %>
  </div>

  <div>
    <%= form.label :size, style: "display: block" %>
    <%= form.number_field :size %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
