<h1> MESSAGGI RICEVUTI </h1>


<% flash.each do |key, value| %>
  <div class="alert <%= key %>">
<%= value %>
  </div>
<% end %>  

<% @messages.each do |message| %>
  <% if message.present? %>
  <a href=<%='/messages/'+message.id.to_s%>>
    <%= message.subject %>
  </a>
    <%= User.find_by(id: message.sender_id).email %>
   
  <br>
  <% end %>
<%end%>

  <%= button_to "Invia un messaggio", '/messages/new', method: :get, class: "btn btn-primary" %>

  <% if current_user.has_role?(:moderator)%>
     <%= button_to "Scrivi un messaggio a tutti", '/messages/new_admin_message', method: :get, class: "btn btn-primary" %>

  <%end%>
