<%= link_to :back do %>
    <button class="btn btn-primary">Torna indietro</button>
<%end%>

<%= form_with model: @message, class: "send-msg-container" do |form| %>

    <div>
      <%= form.label :receive_email, 'A' %><br>
      <%= form.email_field :receive_email %><br>
      <% @message.errors.full_messages_for(:receive_email).each do |message| %>
        <div><%= @message %></div>
      <% end %>
    </div>

    <div>
      <%= form.label :subject, 'Oggetto' %><br>
      <%= form.text_field :subject %>
      <% @message.errors.full_messages_for(:subject).each do |message| %>
        <div><%= @message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.label :body, "Messaggio" %><br>
      <%= form.text_area :body, maxlength: 600, rows: 10, cols:70 %><br>
      <% @message.errors.full_messages_for(:body).each do |message| %>
        <div><%= @message %></div>
      <% end %>
    </div>

  
    <div>
      <%= form.submit "Invia", class: "invia-msg" %>
    </div>
  <% end %>

 

<style>
  textarea {
    resize: none;
    overflow-y: auto;
  }

  .invia-msg {
    margin-top:10px;
    padding: 10px;
    border:none;
    background-color: crimson;
    color: white;
  }

  .invia-msg:hover {
    cursor: pointer;
    filter: brightness(1.1)
  }

  .send-msg-container {
    margin-top: 50px;
    border: 2px solid gray;
    background-color: white;

    display:flex;
    flex-direction: column;
    justify-content: center;
  }

  .send-msg-container > * {
    margin-left: 20px;
  }
</style>