
<div class="d-flex justify-content-center align-items-center vh-100 wrapper">
  <div class="text-center card">

 <%= stylesheet_link_tag "devise", "data-turbo-track": "reload" %>


<h2>Registrazione</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <% if params[:error].present? && params[:error] == "unknown" %>
    <div class="alert alert-danger" role="alert">
      username non esistente
    </div>
  <% end %>
  <% if params[:error].present? && params[:error] == "existing" %>
    <div class="alert alert-danger" role="alert">
      username già usato nel sito
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username, 'Nome Evocatore'%><br />
    <%= f.text_field :username %>
  </div>
  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  

  <div class="actions">
    <%= f.submit "Registrati", class: "btn btn-light btn-sm" %>
  </div>
<% end %>

  <%= button_to "Login", new_user_session_path, method: :get, class: "btn btn-light btn-sm login", style: "margin:1em;" %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
<%= button_to "Accedi con #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), class: "google-button", data: { turbo: false } %><br />
  <% end %>
<% end %>

</div>
</div>
