


<div class="d-flex justify-content-center align-items-center vh-100 wrapper">
  <div class="text-center card">
    <!-- Contenuto del tuo div al centro -->
 <%= stylesheet_link_tag "devise", "data-turbo-track": "reload" %>

<h2>Password dimenticata?</h2>



<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions mt-4 mb-4">
    <%= f.submit "Inviami le istruzioni per il reset della password" ,class:"btn btn-light"%>
  </div>
<% end %>

 </div>
 </div>







