
<head>
<%= stylesheet_link_tag "board", "data-turbo-track": "reload" %>

    <style>
    .leader-lane {
        filter:brightness(0.3);
    }

    .leader-lane:hover{
        filter:none;
    }

    .leader-selected-lane {
        filter:brightness(1.2);
        outline: 5px solid goldenrod;
    }

    .leader-lane {
        width: 50px; 
        height: 50px; 
    }

    .disabled-lane{

        filter:brightness(1);
        outline: 5px solid blue;
    }

    </style>


    <script>
        $(document).ready(function() {
            $('.leader-lane').on('click', function() {
                $('.leader-lane').removeClass('leader-selected-lane');
                
                $(this).addClass('leader-selected-lane');

                var lane = $(this).data('lane');
                $('input[name="request[leader_lane]"]').val(lane);
            });

            $('.team-creation-form').on('submit', function(event) {
                var selectedLane = $('.leader-lane.leader-selected-lane');
                if (selectedLane.length === 0) {
                    event.preventDefault(); // Prevent form submission
                }
            });
        });
    </script>
</head>

<body>

    <div class="container-bacheca">
        <div class="sfondo-bacheca">

            <div id="titolo-bacheca" class="w3-panel w3-center w3-white w3-round-medium">
                <span>
                    ANNUNCI
                    <!-- funziona, ma non capisco se refreshi solo la bacheca o tutta la pagina perchè è troppo veloce da me -->
                    <%= link_to board_path, :method => :get do%>
                        <i class="fa fa-refresh" style="font-size:24px"></i>
                    <%end%>
                </span>
            </div>

            <div id="bacheca">
                <!-- annunci -->
                <% for annuncio in @annunci do%>
                    <% user = User.find( Team.find( annuncio.team_id ).leader_id ) %>
                    <% if current_user.nil? || current_user.team_id != annuncio.team_id%>

                        <% team = Team.find(annuncio.team_id)%>
                        <% mode = Team.find( annuncio.team_id ).mode%>
                        <%= form_with(model: @request, url: requests_new_path, class:"team-creation-form") do |form| %>
                            <div class="annuncio">
                                <%if user.present?%>
                                    <div class="owner">
                                        <%=link_to search_user_path(search: user.username) do%>
                                            <h5><%= user.username %></h5>
                                        <%end%>
                                        <span><%= mode %></span>
                                    </div>
                                    <div class="roles">
                                        
                                    <div id="leader_lane">
                                        <% lanes = Forum::LANES %>
                                            <% lanes.each do |lane| %>
                                                <% if team.lanes.include?(lane) && team.comp[lane].nil? %>
                                                    <%= image_tag "/assets/positions/"+lane+".png", class: "leader-lane x-small-icon", data: { lane: lane } %>
                                                <% else %>
                                                    <%= image_tag "/assets/positions/"+lane+".png", class: "disabled-lane x-small-icon" %>
                                                <% end %>
                                            <% end %>
                                <% end %>
                                        <%if user_signed_in? %>
                                            <%= form.hidden_field :leader_lane %>
                                            <%= form.hidden_field :team_id, value: team.id %>
                                            <%= form.hidden_field :user_id, value: current_user.id %>
                                        <%else %>
                                            <script>
                                                window.location.href = '<%= user_session_path %>';
                                            </script>
                                        <%end%>
                                    </div>

                                </div>
                                <div class="minRank">
                                    <%= image_tag "/assets/ranks/Rank="+annuncio.minRank+".png", class: "small-icon" %>
                                </div>
                                <div class="apply_for">
                                    <button type="submit" class="btn btn-dark">Candidati</button>
                                </div>
                            <%end%>
                        </div>
                    <% end %>
                <%end%>
            </div>

        </div>
    </div>

</body>