
<head>
<%= stylesheet_link_tag "board", "data-turbo-track": "reload" %>

    <style>
        <%if (session[:game]=="LOL") %>
        .sfondo-bacheca {
                background-color: #4169e1;
        }
        <% end %>
    </style>
</head>

<body>

    <div class="container-bacheca">
        <div class="sfondo-bacheca">

            <div id="titolo-bacheca" class="w3-panel w3-center w3-white w3-round-medium">
                <span>
                    ANNUNCI
                    <!-- funziona, ma non capisco se refreshi solo la bacheca o tutta la pagina perchè è troppo veloce da me -->
                    <%= link_to board_path, :method => :get do%>
                        <i class="fa fa-refresh" style="font-size:24px"></i>
                    <%end%>
                </span>
            </div>

            <div id="bacheca">
                <!-- annunci -->
                <% for annuncio in @annunci do%>
                    <% user = User.find( Team.find( annuncio.team_id ).leader_id ) %>
                    <% mode = Team.find( annuncio.team_id ).mode%>
                    <div class="annuncio">
                     <%if user.present?%>
                        <div class="owner">
                            <span><%= user.username %></span>
                            <img src="1.jpg" alt="Rank">
                        </div>
                     <%end%>
                        <div class="roles">
                            <h4>
                                <%= mode %>
                            </h4>
                        </div>
                        <div class="minRank">
                            <%=annuncio.minRank%>
                            <img src="1.jpg" alt="minRank">
                        </div>
                        <div class="apply_for">
                            <h6 class="scadenza">scadenza</h6>
                            <button class="btn btn-dark">Candidati</button>
                        </div>
                    </div>
                    <!-- <h3><%= user %></h3> 
                        <img src="1.jpg" alt="Ruoli 1"> -->
                <%end%>
            </div>

        </div>
    </div>

</body>