<head>
    <title> RiotForum </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <%= stylesheet_link_tag "home", "data-turbo-track": "reload" %>
</head>

<body>
     <% if(session[:game]=="LOL"); @parentclass="LOL-home" end %>
     <% if(session[:game]=="VALO"); @parentclass="VALO-home" end %>
    <div class="parent", id=<%=@parentclass%>>



        <!-- CREA TEAM, CERCA GIOCATORI -->
        <div class="team-section">

            <img src="/assets/miniatura-<%= session[:game] %>.png" width="45%" height="60%">

            
            <div class="search">
                <form class="w3-center" action="<%= search_player_path %>" method="get">
                    <input type="text" placeholder="Cerca Giocatori" name="summonerName">
                </form>
            </div>
            

            <%= link_to new_ad_path do %>
                <%if(session[:game]=="LOL"); @team_btn_color = "btn-primary" end%>
                <%if(session[:game]=="VALO"); @team_btn_color = "btn-danger" end%>
                <button id="team-btn" class="btn <%= @team_btn_color %>">Crea il tuo team!</button>
            <% end %>
        </div>

        <!-- BACHECA ANNUNCI -->
        <div class="board-section" style="background-color:<%= @color %>">
            <%= if(session[:game]=='LOL'); "ANNUNCI LOL" end%>
            <%= if(session[:game]=='VALO'); "ANNUNCI VALO" end%>

            
            <div class="annuncio-container">
                <div class="annuncio">
                    <h3>Utente 1</h3>
                    <img src="1.jpg" alt="Ruoli 1">
                </div>
                <div class="annuncio">
                    <h3>Utente 2</h3>
                    <img src="2.jpg" alt="Ruoli 2">
                </div>
                <!-- Add more products as needed -->
            </div>
            <%if(session[:game] == 'LOL') %>
            <%= link_to board_path do %>
               <%@board_btn_color = "btn-dark" %>
               <button class="btn <%= @board_btn_color %>"> VEDI TUTTI </button>
            <% end %>
           <%elsif(session[:game] == 'VALO') %>
            <%= link_to board_path do %>
               <%@board_btn_color = "btn-light" %>
               <button class="btn <%= @board_btn_color %>"> VEDI TUTTI </button>
            <% end %>
           <% end %>


        </div> 

        <!-- SEZIONE NOTIZIE -->    
        <div class="news-section center-block" style="background-color:<%= @color %>">

            <h1> NEWS </h1>
            
            <% if session[:game] == 'LOL' %>
                <div class="champ-rotation">
                        <% for champid in @rotation_champs do %>
                            <%= image_tag "champions/"+champid.to_s+".png", width:80,height:80, class:'champImg' %>
                        <% end %>
                </div>
            <% end %>

            <div class="news-container">
                <div class="news">

                    <!-- Aggiunto collegamento alla pagina news con parametro -->
                    <%if(session[:game] == 'LOL') %>
                     <%= link_to news_path do %>
                        <% @board_btn_color = "btn-dark" %>
                        <button class="btn <%= @board_btn_color %>" style="margin-bottom:1em;"> VEDI NOTIZIE </button>
                     <% end %>
                    <%elsif(session[:game] == 'VALO') %>
                     <%= link_to news_path do %>
                        <%@board_btn_color = "btn-light" %>
                        <button class="btn <%= @board_btn_color %>"> VEDI TUTTI </button>
                     <% end %>
                    <% end %>
                
                <%# 
                    <div class="thread-container">
                        <% threads.each do |thread| %/>
                        <div class="thread">
                            <a href="<%= thread[:url] %/>"><%= thread[:title] %/></a>
                        </div>
                        <% end %/>
                    </div>
                %>
            </div>
        </div>



    </div>
    
</body>
