<head>
    <title> RiotForum </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <%= stylesheet_link_tag "home", "data-turbo-track": "reload" %>
</head>



<body>
     
    <div class="parent", id="LOL-home">

        
        <% if params[:banned] %>
               <script>
                    $(document).ready(function() {
                        alert("Sei stato bannato da questo sito");
                    });
                </script>        
        <% end %>


        <!-- CREA TEAM, CERCA GIOCATORI -->
        <div class="team-section">

            <img src="/assets/miniatura-LOL.png" width="45%" height="60%">

            <% if params[:noSummoner] %>
                <div class="alert alert-danger" role="alert">
                    <%= flash.now[:alert] %>
                </div>
            <% end %>
            <div class="search">
                <form action="<%= search_player_path %>" method="get" class="form-inline">
                    <input class="form-control mr-sm-2" type="text" placeholder="Cerca Giocatore..." name="summonerName">
                    <button class="btn btn-success my-2 my-sm-0" type="submit">Cerca</button>
                </form>
            </div>

            <% if not user_signed_in? %>
                <%= button_to "Crea Team", new_user_session_path, method: :get, class: "btn btn-lg btn-primary"%>
            <% elsif has_team(current_user)%>
                <%= button_to "Il tuo Team", teams_path, method: :get, class: "btn btn-lg btn-primary"%>
            <% else %>
            <%= button_to "Crea Team", teams_new_path, method: :get, class: "btn btn-lg btn-primary"%>
            <% end %>

        </div>

        <!-- BACHECA ANNUNCI -->
        <div class="board-section">
            <div id="titolo-bacheca-home" class="d-flex justify-content-center align-items-center">
                ANNUNCI
            </div>
            
            <div class="annuncio-container">
                <% for annuncio in @annunci_home do%>
                    <% user = User.find( Team.find( annuncio.team_id ).leader_id ) %>
                    <% if current_user.nil? || current_user.team_id != annuncio.team_id%>
                        <% team = Team.find(annuncio.team_id)%>
                        <% mode = Team.find( annuncio.team_id ).mode%>
                        <% if user.present?%>

                            <div class="annuncio_home">
                                <div class="owner">
                                    <span><%= user.username %></span> 
                                </div>
                           
                                <div class="roles">
                                    <% team.lanes.each do |lane| %>
                                        <% if team.comp[lane].present?  %>
                                            <%= image_tag "/assets/positions/"+lane+".png", class: "x-small-icon", data: { lane: lane }, style: "filter: drop-shadow(16px 16px 20px red) invert(60%);" %>
                                        <% else %>
                                            <%= image_tag "/assets/positions/"+lane+".png", class: "x-small-icon" %>
                                        <% end %>
                                    <% end %> 
                                </div>
                            </div>
                            
                        <%end%>
                    <% end %>
                <%end%>
            </div>

            <%if(session[:game] == 'LOL') %>
               <%@board_btn_color = "btn-dark" %>
            <%elsif(session[:game] == 'VALO') %>
                <%@board_btn_color = "btn-light" %>
            <% end %>

            <%= link_to board_path do %>
                <button class="btn btn-dark" style="margin-bottom:1em;"> VEDI TUTTI </button>
            <% end %>

        </div> 

        <!-- SEZIONE NOTIZIE -->    
        <div class="news-section center-block">

            <h1> NEWS </h1>
            <div class="champ-rotation">
                    <% for champid in @rotation_champs do %>
                        <%= image_tag "champions/"+champid.to_s+".png", width:80,height:80, class:'champImg' %>
                    <% end %>
            </div>


            

            <div class="news-container">
                <div class="news">

                    <!-- Aggiunto collegamento alla pagina news con parametro -->
                   
                     <%= link_to news_path do %>
                        <% @board_btn_color = "btn-dark" %>
                        <button class="btn <%= @board_btn_color %>" style="margin-bottom:1em;"> VEDI NOTIZIE </button>
                     <% end %>
                    
                
                <%# 
                    <div class="thread-container">
                        <% threads.each do |thread| %/>
                        <div class="thread">
                            <a href="<%= thread[:url] %/>"><%= thread[:title] %/></a>
                        </div>
                        <% end %/>
                    </div>
                %>
            </div>
        </div>

        <!-- TASTO SCRIVI -->
        <%if user_signed_in? %>_
            <%= link_to new_message_path do %>
                <button id="scrivi">
                    Scrivi
                </button>
            <% end %>
        <% end %>


    </div>
    
</body>
