<head>
    <title> Profilo - RiotForum</title>
    <%= stylesheet_link_tag "profile", "data-turbo-track": "reload" %>
</head>

<body>
    <div class="container-profile">
        <div class="RF-account">
            <div>
                username 
                <%= link_to edit_user_registration_path do %>
                    <button class="btn btn-dark">Cambia profilo</button>
                <%end%>
            </div>
            <div> email </div>
            <div> password </div>
        </div>

        <div class="LOL-account">
            <div class="icon">
                <%= image_tag 'https://ddragon.leagueoflegends.com/cdn/14.2.1/img/profileicon/'+@your_icon.to_s+'.png', class:'img responsive'%>
                <span>
                    <h1><%= @current_user.username %></h1>
                    Livello <%= @your_summonerLevel %>
                </span>
            </div>
            </div class="info LOL">
            </div>
        </div>

        <div class="VALO-account">
            

        </div>
    </div>
</body>