<head>
    <title> Profilo - RiotGuild</title>
    <%= stylesheet_link_tag "profile", "data-turbo-track": "reload" %>
</head>

<body>
    
    <div class="container-profile">
        <!-----------------------ACCOUNT--------------------------->
        <div class="account-info w3-center">  

            <div class="summoner-info">
                <span>
                    <h1><%= current_user.username %></h1>Lv <%= @your_summonerLevel %>
                </span>

                <div class="icon">
                    <%= image_tag 'https://ddragon.leagueoflegends.com/cdn/14.2.1/img/profileicon/'+@your_icon.to_s+'.png', class:'img responsive'%>
                </div>
            </div>

            <hr>

            <div class="user-info">
                
                <span>username: <u><%= current_user.username%></u></span>
                <%= link_to edit_profile_path do %>
                    <button class="btn btn-danger">Cambia profilo</button>
                <%end%>
            
                <div> 
                    email: <%= current_user.email%>
                </div>
                <div style="text-align:center">
                    <%= button_to "Messaggi", '/messages', method: :get, class: "btn btn-primary"%>
                </div>

                <div class="cerca-utenti w3-center">
                    <% if flash.now[:alert] %>
                        <div class="alert alert-danger" role="alert">
                            <%= flash.now[:alert] %>
                        </div>
                    <% end %>
                    <%= form_tag search_user_path, method: :get do %>
                        <%= text_field_tag :search, params[:search], placeholder: "Cerca utente del sito", name: "search" %>
                        <%= submit_tag "Cerca" %>
                    <% end %>
                </div>
            </div> 

        </div>

        <!-----------------------CANDIDATURE/TEAM--------------------------->

        <div class="candidature-team">


            <div class="container-candidature">
                <div class="w3-panel w3-round-xlarge w3-center">
                    LE MIE CANDIDATURE
                </div>

                <div class="candidatura">
                    <div class="user owner">
                        riotId,rank
                    </div>  
                    <div class="ruolo">
                        ruolo,img
                    </div>
                    <div class="buttons">
                        <%= link_to profile_path do %>
                            <button class="btn btn-light">Annulla</button>
                        <%end%>
                    </div>
                </div>
            </div>

            <!--------------------------->

            <div class="container-richieste">
                <div class="w3-panel w3-round-xlarge w3-center">
                    RICHIESTE PER IL TEAM
                    <h6>(0/10)</h6>
                </div>

                <!-- if !team.full -->
                <!-- for sulle richieste-->
                <div class="richiesta">

                    <div class="user richiedente">
                        <%= link_to 'nome tizio ', profile_path %>
                    </div>
                    <div class="buttons">
                        <%= link_to profile_path, style: 'margin-right:5px;' do %>
                            <button class="btn btn-success">Accetta</button>
                        <%end%>
                        <%= link_to profile_path do %>
                            <button class="btn btn-danger">Rifiuta</button>
                        <%end%>
                    </div>
                </div>
                <!--else-->
                
            </div>

        </div>

        <!-------------------------LISTA AMICI------------------------->

        <div class="container-friendlist">

            <div class="friendlist">
                <div class="w3-panel w3-blue w3-xlarge w3-center" style="width:80%;">
                    LISTA AMICI
                </div>

            <!--  @friends.each do |friend|  -->
                <div class="friend">
                    <div class="friend-avatar">
                        <!--  image_tag icona-->
                    </div>
                    <div class="friend-details">
                        <h3>username amico</h3>
                        <p>email amico?</p>
                    </div>
                </div>
                <hr>
            <!-- end  -->
            </div>
        </div>

    </div>
    

</body>

<!--

        
            
                if !@inactive 
                    tipo queue: <%=@queueType%>
                    rank <%=@rank%>
                    tier <%=@tier%>
                    wins <%=@wins%>
                    losses <%=@losses%>

  
                         
            </div>
        </div>

    </div>
-->