<head>
    <title> Profilo - RiotGuild</title>
    <%= stylesheet_link_tag "profile", "data-turbo-track": "reload" %>
</head>

<body>
    
    <div class="container-profile">
        <!-----------------------ACCOUNT--------------------------->
        <div class="account-info w3-center">  

            <div class="summoner-info">
                <span>
                    <h2><%= current_user.username %></h2> 
                    </h1>Lv <%= @your_summonerLevel %>
                </span>

                <div class="icon">
                    <%= image_tag 'https://ddragon.leagueoflegends.com/cdn/14.2.1/img/profileicon/'+@your_icon.to_s+'.png', class:'img responsive'%>
                </div>
            </div>

            <hr>

            <div class="profile-info">
                
                <span>username: <u><%= current_user.username%></u></span>
                <%= link_to edit_profile_path do %>
                    <button class="btn btn-danger">Cambia profilo</button>
                <%end%>
            
                <div> 
                    email: <%= current_user.email%>
                </div>
                <div style="text-align:center">
                    <%= button_to "Messaggi", '/messages', method: :get, class: "btn btn-primary"%>
                </div>
                <% if !current_user.has_role?(:moderator)%>
                 <div style="text-align:center">
                 <%= button_to "Supporto", '/messages/new_support_message', method: :get, class: "btn btn-warning"%>
                 </div>
                <%end%>
                <% if current_user.has_role?(:moderator)%>
                <div style="text-align:center">
                <%= button_to "Ban Utente", 'profile/page_to_ban', method: :get, class: "btn btn-primary"%>
                </div>  
                <%end%>  
                <div class="cerca-utenti w3-center">
                
                    <% if flash.now[:alert] %>
                        <div class="alert alert-danger" role="alert">
                            <%= flash.now[:alert] %>
                        </div>
                    <% end %>
                    <form action="<%= search_user_path %>" method="get" class="form-inline w3-center">
                        <%= text_field_tag :search, params[:search], placeholder: "Cerca utente del sito", name: "search" %>
                        <%= submit_tag "Cerca" %>
                    </form>
                </div>
            </div> 

        </div>

        <!-----------------------CANDIDATURE/TEAM--------------------------->

        <div class="candidature-team">

            <div class="container-candidature">
                <div class="w3-panel w3-round-xlarge w3-center">
                    LE MIE CANDIDATURE
                </div>

                <% for myRequest in @myRequests %>
                    <div class="candidatura">
                        <div class="user owner">
                            <%= User.find(Team.find(myRequest.team_id).leader_id).username %>
                        </div>  
                        <div class="ruolo">
                        <%= image_tag "/assets/positions/"+myRequest.position+".png", class: "x-small-icon" %>
                        </div>
                        <div class="buttons">
                            <%= button_to "Annulla", request_path(myRequest.id), method: :delete, class: "btn btn-light"%>
                        </div>
                    </div>
                <% end %>
            </div>

            <!--------------------------->
                
            <% if !@team.nil? && @team.leader_id == current_user.id %>
                <div class="container-richieste">
                    <div class="w3-panel w3-round-xlarge w3-center">
                        RICHIESTE PER IL TEAM
                    </div>
                    <!-- if !team.full -->
                        <% @teamRequests = Request.where(team_id: @team.id)%>
                        <% for teamRequest in @teamRequests %>
                            <div class="richiesta">

                                <div class="user richiedente">
                                    <%= User.find(teamRequest.user_id).username %>
                                </div>
                                <div class="user richiedente">
                                    <%= image_tag "/assets/positions/"+teamRequest.position+".png", class: "x-small-icon" %>
                                </div>
                                <div class="buttons">
                                    <%= form_with url: team_path(@team.id), method: :patch do |f|%>
                                        <button type = "submit" class="btn btn-success" style= 'margin-right:5px;'>Accetta </button> 
                                        <%= f.hidden_field :team_id , value: teamRequest.team_id%>
                                        <%= f.hidden_field :user_id, value: teamRequest.user_id %>
                                        <%= f.hidden_field :position, value: teamRequest.position %>
                                    <% end %>
                                    <%= button_to "Rifiuta", request_path(teamRequest.id), method: :delete, class: "btn btn-danger"%>
                                </div>
                            </div>
                        <% end %>                    
                </div>
            <% end %>

        </div>

        <!-------------------------LISTA AMICI------------------------->

        <div class="container-friendlist">

            <div class="friendlist">
                <div class="w3-panel w3-xlarge w3-center friend-label" style="width:80%;">
                    LISTA AMICI
                </div>
            

                <%for friend in @friendships_sent do%>
                <div class="friend">
                        <div> 
                            <%friend_name = User.where(id: friend.friend_id).select("email","username").first%>
                            <%=link_to search_user_path(search: friend_name.username), class: "friend-name" do%>
                                <h4><%=friend_name.username%></h4>
                            <%end%>
                            <h6><%=friend_name.email%></h6>
                        </div>
                        <div>
                            <%= button_to "X", invitation_path(id:friend), method: :delete, class:"delete-friend-btn w3-round", data: { confirm: "Are you sure you want to delete this invitation?" } %>

                        </div>
                </div>
                <%end%>
                <%for friend in @friendships_received do%>
                <div class="friend">
                        <div> 
                            <%friend_name = User.where(id: friend.user_id).select("email","username").first%>
                            <%=link_to search_user_path(search: friend_name.username), class: "friend-name" do%>
                                <h4><%=friend_name.username%></h4>
                            <%end%>
                            <h6><%=friend_name.email%></h6>
                        </div>
                        <div>
                            <%= button_to "X", invitation_path(id:friend), method: :delete, class:"delete-friend-btn w3-round", data: { confirm: "Are you sure you want to delete this invitation?" } %>

                        </div>
                </div>
                <%end%>
                
            <!-- end  -->
            </div>
        </div>

    </div>
    

</body>
