<head>
    <title> Profilo - RiotForum</title>
    <%= stylesheet_link_tag "profile", "data-turbo-track": "reload" %>
</head>

<body>
    <div class="container-profile">
        <div class="RF-account">
            <div class="header-RF">
                Il tuo account
            </div>
            <div>
                username: <u><%= current_user.username%></u>
                <%= link_to edit_user_registration_path do %>
                    <button class="btn btn-danger">Cambia profilo</button>
                <%end%>
            </div>
            <div> email: <%= current_user.email%></div>
        </div>

        <div class="LOL-account">
            <div class="icon">
                <%= image_tag 'https://ddragon.leagueoflegends.com/cdn/14.2.1/img/profileicon/'+@your_icon.to_s+'.png', class:'img responsive'%>
                <span>
                    <h1><%= @current_user.username %></h1>
                    Livello <%= @your_summonerLevel %>
                </span>
            </div>
            </div class="info LOL">
            <!--
                <%if !@inactive %>
                    tipo queue: <%=@queueType%>
                    rank <%=@rank%>
                    tier <%=@tier%>
                    wins <%=@wins%>
                    losses <%=@losses%>


                <%else%>
                    L'evocatore non ha una carriera recente in classificata
                <%end%>   
            -->             
            </div>
        </div>

        <div class="VALO-account">
            

        </div>
    </div>
</body>