<head>
    <title> Cerca Utente - RiotGuild</title>
    <%= stylesheet_link_tag "search_user", "data-turbo-track": "reload" %>
</head>

<body>

    <div class="container-user">

        <!-----------------------ACCOUNT--------------------------->
        <div class="account">  
            <%=link_to profile_path do%>
                <button class="btn btn-danger">
                    Torna al profilo
                </button>
            <%end%>

            <div class="summoner-user-info w3-center">
                <div>
                    <span>
                        <h1><%= @found_user.username %></h1>
                        Lv <%= @user_lvl %>
                    </span>

                    <div class="icon">
                        <%= image_tag 'https://ddragon.leagueoflegends.com/cdn/14.2.1/img/profileicon/'+@user_icon.to_s+'.png', class:'img responsive'%>
                    </div>
                </div>

                <div class="d-flex justify-content-center align-items-center" style="margin-right: 10px;">
                    <%if @stats_data.nil? %>
                        Non ancora classificato
                    <%else%>
                        <% for data in @stats_data do %>
                            <div class="w-100" style="outline: 2px solid gray">
                                <div style="font-weight: bold; outline: 2px solid gray; width: 100%">
                                    <%= data["queueType"]%>
                                </div>
                                <div class="d-flex flex-row justify-content-sm-around align-items-center">
                                    <%= data["tier"].capitalize %>
                                    <%= data["rank"] %>
                                    <%= image_tag "/assets/ranks/Rank=#{data["tier"].capitalize}.png", class: "small-icon" %>
                                </div>
                            </div>
                        <% end%>
                    <%end%>
                    
                </div>
            </div>

            <hr style="border:2px solid goldenrod;border-radius: 1em;">

            <div class="user-info">

                <div>
                    <p><strong>Email:</strong> <%= @found_user.email %></p>
                    <p><strong>Username:</strong> <%= @found_user.username %></p>
                    <p><strong>Account creato il:</strong> <%= @found_user.created_at.strftime("%d/%m/%Y") %></p>
                </div>
                
                <%= link_to "Segnala Utente", "search_user/new_segnala_utente/"+@found_user.username, style:"color:red"%>
                <!-- app/views/blocked_users/new.html.erb -->



                <%@bloccato=BlockedUser.find_by(user_id: current_user.id)%>

                <% if current_user.id != @found_user.id %>
                 <% if @bloccato.nil? || @bloccato.blocked_id != @found_user.id %>
                  <%= form_with model: @blocked_user, url: 'blocked_user/'+@found_user.id.to_s, method: "post" do |form| %>
                    <%= form.hidden_field :user_id, value: current_user.id %>
                    <%= form.hidden_field :blocked_id, value: @found_user.id %>
                    <%= form.submit "Blocca Utente" %>
                  <% end %>
                 <% else %>
                  <%= form_with model: @blocked_user, url: 'blocked_user/'+@found_user.id.to_s, method: "delete" do |form| %>
                    <%= form.hidden_field :user_id, value: current_user.id %>
                    <%= form.hidden_field :blocked_id, value: @found_user.id %>
                    <%= form.submit "Sblocca Utente" %>
                  <% end %>
                 <% end %>
                <% end %>

                
                <!--AMICIZIA-->
                <div>
                    <!--RIMUOVI AMICO-->
                    <%if current_user.friend_with?(@found_user)%>
                        <%invitation = Invitation.find_invitation(current_user.id,@found_user.id)%>
                        <%= button_to "Rimuovi amico", invitation_path(id:invitation), method: :delete, class:"btn btn-danger" %>
                    <%elsif current_user.pending_sent?(@found_user)%>
                        Richiesta in corso
                    <%else%>
                     <!--AGGIUNGI AMICO-->
                        <%= form_with(url: send_friend_request_path, method: "post") do |form| %>
                            <%= form.hidden_field :friend_id, value: @found_user.id %>
                            <%= form.submit "Aggiungi amico", class: "btn btn-primary" %>
                        <% end %>
                    <%end%>
                    <% if flash.now[:notice] %>
                        <div class="alert alert-success" role="alert">
                            <%= flash.now[:notice] %>
                        </div>
                    <% end %>
                    <% if flash.now[:alert] %>
                        <div class="alert alert-danger" role="alert">
                            <%= flash.now[:alert] %>
                        </div>
                    <% end %>
                </div>

            </div> 

            <!--CERCA ALTRI UTENTI-->
            <div class="cerca-utenti w3-center">
                <% if flash.now[:alert] %>
                    <div class="alert alert-danger" role="alert">
                        <%= flash.now[:alert] %>
                    </div>
                <% end %>
                <form action="<%= search_user_path %>" method="get" class="form-inline w3-center">
                    <%= text_field_tag :search, params[:search], placeholder: "Cerca un altro utente", name: "search" %>
                    <%= submit_tag "Cerca" %>
                </form>
            </div>
        </div>

        <div class="interactions-user">
            <%= link_to search_player_path(summonerName: @found_user.username) do%>
                <button class="btn btn-danger stats-btn" style="border:5px outset crimson">Vedi stats</button>
            <%end%>
            <% if @found_user.team_id? %>
            <div class="user-team-info">
                è in un team
            </div>
            <% end %>
            <% unless @found_user.team_id? %>
            <div class="user-team-info">
                non è in nessun team
            </div>
            <% end %>
        </div>
    </div>

</body>