<%= form_with(model: notifica) do |form| %>

  <div>
    <%= form.label :from, 'Da', style: "display: block" %>
    <%= form.email_field :from %>
  </div>

  <div>
    <%= form.label :to, 'A', style: "display: block" %>
    <%= form.email_field :to , placeholder: "email destinatario"%>
  </div>

  <div>
    <%= form.label :content, 'Messaggio', style: "display: block" %>
    <%= form.text_area :content %>
  </div>

  <!--read è un check di chi riceve per sapere se ha già letto la mail o no-->

  <div>
    <%= form.submit %>
  </div>
<% end %>
