<div id="<%= dom_id notifica %>">
  <p>
    <strong>From:</strong>
    <%= notifica.from %>
  </p>

  <p>
    <strong>To:</strong>
    <%= notifica.to %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= notifica.content %>
  </p>

  <p>
    <strong>Read:</strong>
    <%= notifica.read %>
  </p>

</div>
