
<head>
<%= stylesheet_link_tag "news", "data-turbo-track": "reload" %>
</head>

<body>
  <% flash.each do |key, value| %>
    <div class="alert <%= key %>">
      <%= value %>
    </div>
  <% end %>  
    <div class="container-bacheca-news">
        <div class="sfondo-bacheca-news">

            <div id="titolo-bacheca-news" class="w3-panel w3-center w3-white w3-round-medium">
                <span>
                    NOTIZIE
                    <%= link_to news_path, :method => :get do%>
                        <i class="fa fa-refresh" style="font-size:24px"></i>
                    <%end%>
                </span>
            </div>
          
            <div id="bacheca-news">
                <% @newpost.each do |newpost|%>
                <div class="thread"> 
                <a href=<%='/news/'+newpost.id.to_s%>>
                <%= newpost.title%>
                </a>
                <%if current_user && current_user.id == newpost.user_id%>
                    <p>IL POST È TUO</p>
                <%end%>

                    </div>
                <%end%>
            </div>
            <%= button_to "Vai alla pagina di creazione di un nuovo post", '/news/newpost', method: :get, class: "btn btn-primary" %>



        </div>  
        <div class='containerRotation'>
            <div class='sfondoNotizie'>
                <div id='titoloRotazione' class="w3-panel w3-center w3-white w3-round-medium">
                    <span>
                        ROTAZIONE GRATUITA CAMPIONI
                    </span>
                </div>

                <div class='Campioni'>
                    <%for champid in @rotation_champs do %>
                        <div class="boxCampioneIcona">
                            <%= image_tag "champions/"+champid.to_s+".png", width:'64px',height:'64px',class:'champImg' %>
                        </div>
                    <%end%>
                </div>
        </div>
            
        </div>
   </div>

</body>
