<header class="header">

      <!-- |RiotForum x x x x| -->
      <div class="header-left">
        <span class="sito">RiotForum</span>
        <% unless request.fullpath == '/' %>

      <% if @game=="LOL" 
          @lol_state = "";
          @valo_state = "unchosen";
        elsif @game=="VALO"
          @lol_state = "unchosen";
          @valo_state = "";
        end; %>

      <div>

        <%= button_to "", set_session_path(value: "LOL"), method: :post, id: "LOL-button", class: "mini-choice-button " +@lol_state %>
  </div>
 
        <%= button_to "", set_session_path(value: "VALO"), method: :post, id: "VALO-button", class: "mini-choice-button "+@valo_state %>
 

      </div>
    <% end %>

  </div>
      </div>

      <% if user_signed_in? %>
        <!-- | x x x x Profilo| -->
      <div class="header-right">
        <div class="dropdown">



          <button class="btn  dropdown-toggle profilo" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false", style= "background-color: #fff; width: 130px; height: 100px;">
            <img src='/assets/profileimg.png'>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
           <p><%= current_user.email %></p>
            <a class="dropdown-item" href="/profile">Profilo</a>
         <!--   <a class="dropdown-item" href="/settings">Impostazioni</a> -->
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"><%= button_to "Logout", destroy_user_session_path, method: :delete, form_class: "d-inline" , class: "btn btn-primary ", style: "background-color: #df7e23;" %></a>
          </div>
        </div>
      </div>
  <% else %>
        <!-- |LOGIN| -->
      <div class="header-right">
  <%= button_to "Login", new_user_session_path, method: :get, class: "btn btn-primary ", style: "background-color: #df7e23;" %>
      </div>
<% end %>

</header>


    <script>
  document.addEventListener('DOMContentLoaded', function() {
    var redirectSpan = document.getElementById('logo').addEventListener('click', function() {
        // Redirect to home page
        window.location.href = '/home?game=<%= @game %>';
      });
  });
</script>
