<header class="header">

      <!-- |RiotForum x x x x| -->
      <div class="header-left">
        <a href="/home" style="text-decoration:none;">
        <span class="sito">RiotGuild</span>
        </a>
        <% unless request.fullpath == '/' %>

      <% if session[:game]=="LOL" 
          @lol_state = "";
          @valo_state = "unchosen";
        else 
          @lol_state = "unchosen";
          @valo_state = "";
        end; %>

      <div>

        <%= button_to "", set_session_path(value: "LOL"), method: :post, id: "LOL-button", class: "mini-choice-button "+@lol_state %>
  </div>
 
        <%= button_to "", set_session_path(value: "VALO"), method: :post, id: "VALO-button", class: "mini-choice-button "+@valo_state %>
 

      </div>
    <% end %>

  </div>
      </div>

      <div class="header-right">
        <% if user_signed_in? %>
          <!-- | x x x x Profilo| -->

        <div class="w3-round" id="iconaNotifica">
          <%= link_to notificas_path do %>
          <%= image_tag "iconaNotifica-24.png", alt: 'Nots'%>
          <%end%>
        </div>
        
        <div class="w3-dropdown-hover w3-right">
          <a class="w3-button profilo"><p><%= current_user.email %></p></a>
          <div class="w3-dropdown-content w3-bar-block w3-border" style="right:0">
            <a href="/profile" class="w3-bar-item w3-button">Profilo</a>
            <a href="/your_team" class="w3-bar-item w3-button">Il tuo team</a>
            <a href="/settings" class="w3-bar-item w3-button">Impostazioni</a>
            <hr class="w3-border">
            <div class="w3-center">
              <%= button_to "Logout", destroy_user_session_path, method: :delete, form_class: "d-inline" , class: "btn btn-primary ", style: "background-color: #df7e23;" %>
            </div>
          </div>
        </div> <!-- aggiunto solo perchè mancava, ma il dropdown funzionava anche senza-->
        

        <% else %>
              <!-- |LOGIN| -->
            
              <%= button_to "Login", new_user_session_path, method: :get, class: "btn btn-primary login" %>
            
        <% end %>
      </div>

</header>


    <script>
  document.addEventListener('DOMContentLoaded', function() {
    var redirectSpan = document.getElementById('logo').addEventListener('click', function() {
        // Redirect to home page
        window.location.href = '/home';
      });
  });
</script>
